<main>
    <aside class="side border">

        <article class="titulo">
            <p>Mis Estacionamientos</p>
        </article>
        <article class="parking">
            <div class="parkicon">P</div>
            <div class="parkinfo">
                <p class="street">Avenida Siempre Viva #2189</p>
                <p class="deshabilitado">Deshabilitado</p>
            </div>

        </article>
        <article class="parking">
            <div class="parkicon">P</div>
            <div class="parkinfo">
                <p class="street">Avenida Providencia #798</p>
                <p class="habilitado">Habilitado</p>
            </div>
        </article>

        <article class="addparking">
            + Añadir Estacionamiento
        </article>

        <div id="division"></div>

        <article class="titulo">
            <p>Mis Vehiculos</p>
        </article>

        <article class="vehicle">
            <div class="caricon">
                <img src="../../../assets/car.svg">
            </div>
            <div class="carinfo">
                <p class="model">Chery</p>
                <p class="model">Tiggo 7 Pro</p>
                <p class="patente">RY·FK·32</p>
            </div>
        </article>

        <article class="addparking">
            + Añadir Vehiculo
        </article>
        
    </aside>
    <div class="central border">

        <section class="client">
            <div class="resumen">
                <div class="first">
                    media de horas
                </div>
                <div class="second">
                    total gastado
                </div>
            </div>
            <div class="resumen2">
                <div class="third">
                    historial de estacionamientos
                </div>
                <div class="fourth">
                    <div class="sixth">
                        cantidad de estacionamientos usados
                    </div>
                    <div class="seventh">
                        management vehiculos
                    </div>
                </div>
            </div>
        </section>
        <section class="owner">
            <div class="resumen">
                <div class="first">
                    veces arrendado
                </div>
                <div class="second">
                    total ganado
                </div>
            </div>
            <div class="resumen2">
                <div class="third">
                    historial de vehiculos estacionados
                </div>
                <div class="fourth">
                    <div class="sixth">
                        
                    </div>
                    <div class="seventh">
                        management estacionamientos
                    </div>
                </div>
            </div>
        </section>

    </div>

</main>