#mapcontainer{
    width: 100%;
    border: 1px solid red;
    height: 350px;
    display: flex;
    justify-content: center;
}

#map{
    height: 350px;
    border-radius: 10px;
}

.falta{
    border: 1px solid red;
}