<section>
  <div class="container">
    <div
      class="row d-flex justify-content-center align-items-center h-50"
      id="login"
    >
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form
              class="pb-5"
              [formGroup]="miFormulario"
              (ngSubmit)="guardar()"
            >
              <h2 class="fw-bold mb-2 text-uppercase">
                Añadir Estacionamiento
              </h2>
              <p class="text-white-50 mb-5">
                Ingresa los datos de tu Estacionamiento
              </p>

              <div class="form-outline form-white mb-4">
                <div id="map"></div>
                <label class="form-label" for="typeBrandX">Direccion</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  id="typeNroX"
                  class="form-control form-control-lg"
                  formControlName="parkingNro"
                  [class.is-invalid]="nroNoValido"
                />
                <label class="form-label" for="typeNroX"
                  >Numero de Estacionamiento</label
                >
              </div>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  id="typePrecioX"
                  class="form-control form-control-lg"
                  formControlName="parkingPrice"
                  [class.is-invalid]="priceNoValido"
                  (keydown)="soloNumeros($event)"
                />
                <label class="form-label" for="typePrecioX"
                  >Precio por hora ($)</label
                >
              </div>

              <div class="form-outline form-white mb-4">
                <textarea
                  class="form-control form-control-lg"
                  id="typeDescripcionX"
                  rows="5"
                  formControlName="parkingDesc"
                ></textarea>
                <label class="form-label" for="typeDescripcionX"
                  >Descripcion o Intrucciones (Opcional)</label
                >
              </div>

              <button
                class="btn btn-outline-light btn-lg px-5 mb-3"
                type="submit"
                [disabled]="!isFormValid()"
              >
                Agregar Estacionamiento
              </button>
              <p class="small pb-lg-2">
                <a class="text-white-50" [routerLink]="['/adminparking']"
                  >Volver</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
