<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-12 col-md-8 col-lg-6 col-xl-8">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <form class="card-body p-5 text-center">
            <h1 class="mb-2">{{ parkingselect.direccion }}</h1>
            <img src="../../../assets/parking-icon.png" id="parkingimg" />
            <h3></h3>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
