.carsample{
    width: 100%;
    text-align: center;
}

#car{
    width: 100%;
}

.patente{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:  120px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-size: 25px;
    text-transform:uppercase
}

@media only screen and (max-width: 600px) {
    #car{
        width: 250px;
    }

    .patente{
        top: 31%;
        width: 80px;
        height: 30px;
        font-size: 20px;
    }
  }