<div class="container bg-dark">
  <h1 class="fw-bold mb-2 text-uppercase">Bienvenido a ParkExpress</h1>
  <p style="color: white">
    Encuentra el lugar perfecto para estacionar tu vehículo de manera segura y
    conveniente.
  </p>
  <h2 class="fw-bold mb-2 text-uppercase">Comienza a usar ParkExpress</h2>
  <p style="font-size: 40px">⬇️</p>
  <a class="boton" [routerLink]="['/login']">
    <div class="borde-exterior">
      <div class="borde-interior">
        <p>ENGINE</p>
        <p>START</p>
        <p>STOP</p>
      </div>
    </div>
  </a>
  <div class="informacion">
    <p class="mt-4">Información sobre ParkExpress</p>
    <p>
      Descubre una nueva forma conveniente y asequible de gestionar tus
      necesidades de estacionamiento con nuestra aplicación. Nuestra plataforma
      facilita el proceso de arrendar o poner en arriendo un estacionamiento,
      brindándote opciones accesibles para satisfacer tus necesidades de
      aparcamiento. Con tarifas económicas, nuestro servicio está diseñado para
      ser amigable con tu bolsillo, ofreciendo soluciones prácticas para
      optimizar el uso de los espacios de estacionamiento.
    </p>
    <p>
      En nuestra aplicación, cualquier tipo de vehículo es bienvenido. Ya sea
      que conduzcas un automóvil compacto, una camioneta robusta o una
      motocicleta ágil, nuestro servicio está diseñado para adaptarse a diversas
      necesidades de estacionamiento. Simplifica tu vida cotidiana con una
      solución de aparcamiento flexible y asequible que se ajusta a tu estilo de
      vida y te brinda la tranquilidad que necesitas al estacionar tu vehículo.
    </p>
  </div>
</div>
