<section>
  <div class="container">
    <div
      class="row d-flex justify-content-center align-items-center"
      id="login"
    >
      <div class="col-12 col-md-8 col-lg-6 col-xl-8">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-4 text-center">
            <div class="pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Vehiculos Registrados</h2>
              <p class="text-white-50 mb-5">
                Adminsitra tus Vehiculos Registrados
              </p>

              <ng-template ngFor let-car [ngForOf]="carsactual" let-i="index">
                <article class="vehicle mb-4">
                  <div class="caricon">
                    <img src="../../../assets/car.svg" />
                  </div>
                  <div class="carinfo">
                    <p class="model">{{ car.marca }}</p>
                    <p class="model">{{ car.modelo }}</p>
                    <p class="patente">
                      {{ formatPatente(car.patente).toUpperCase() }}
                    </p>
                  </div>
                  <div class="deleteicon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="50"
                      height="50"
                      fill="crimson"
                      class="bi bi-trash3-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                      />
                    </svg>
                  </div>
                </article>
              </ng-template>

              <article [routerLink]="['/addcar']" class="addparking mb-4">
                + Añadir Vehiculo
              </article>
              <p class="small pb-lg-2">
                <a class="text-white-50" [routerLink]="['/dashboard']"
                  >Volver</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
